/* 선택된 기물 */
cg-board square.selected {
  background: color-mix(in srgb, #3b82f6 50%, transparent);
}

/* 이동 가능한 위치 */
cg-board square.move-dest {
  background: radial-gradient(rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0) 0);
}

/* 이동 가능한 위치 (마우스 호버) */
cg-board square.move-dest:hover {
  background: color-mix(in srgb, #3b82f6 60%, transparent) !important;
  border-radius: 0;
  padding: 0;
}
/* 점유된 칸의 이동 가능 위치 */
cg-board square.oc.move-dest {
  background: none;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 0;
}

/* 점유된 칸의 이동 가능 위치 (마우스 호버) */
cg-board square.oc.move-dest:hover {
  background: color-mix(in srgb, #3b82f6 60%, transparent);
}

/* 마지막 이동 위치 */
cg-board square.last-move {
  background: color-mix(in srgb, #3b82f6 40%, transparent);
}
